body {
  margin: 0;
  padding: 20px;
  font-family: eurocaps;
  background-color: rgba(255,224,0,0.06)
}

/*table, th, td {*/
/*}*/
th {
  background-color: orange;
}

tbody tr:nth-child(even) {
  background-color: lightgrey
}

tbody tr:nth-child(odd) {
  background-color: darkgrey
}

@font-face {
    font-family: eurocaps;
    src: url(../fonts/EUROCAPS.TTF);
}
